<launch>
    <arg name="tf_prefix" default="miranda"/>
   
    <node name="ee_pose_marker" pkg="cartesian_move" type="ee_pose_marker.py" ns="miranda/panda">
        <remap from="pose" to="cartesian_controller/equilibrium_pose"/>
        <param name="base_frame" value="$(arg tf_prefix)/panda/panda_link0"/>
        <param name="ee_frame" value="$(arg tf_prefix)/panda/panda_EE"/>
    </node>
</launch>