<launch>

    <arg name="twist_local" default="false"/>
    
    <node   name="reconfigure_load_lyapunov" pkg="dynamic_reconfigure" type="dynparam" 
            args="load /miranda/mir/slave_controller $(find transport_launcher)/config/lyapunov_dyn.yaml" />
    
    <node   name="reconfigure_load_stiffness_ic" pkg="dynamic_reconfigure" type="dynparam" 
            args="load /miranda/panda/compliance_controller $(find transport_launcher)/config/impedance_dyn.yaml" />
    
    <node   name="reconfigure_load_stiffness_cc" pkg="dynamic_reconfigure" type="dynparam" 
            args="load /miranda/panda/cartesian_controller $(find transport_launcher)/config/impedance_dyn.yaml" />


  
    <!--    Laucnh the robot hardware
            Access move base server
            Sate controlle for the knowledge of current manipulator state
            Joint controller for teached movemet
            impedance controller for transport movement
    -->
    <include file="$(find miranda_hardware_helper)/launch/miranda.launch">
        <arg name="controllers_started" value="franka_state_controller position_joint_controller"/>
        <arg name="controllers_stopped" value="compliance_controller cartesian_controller"/>
        <arg name="pose_filename" value="$(find transport_launcher)/poses/miranda_transport_poses.yaml"/>
    </include>
 

    <node name="cmd_vel_differentiator" type="twist_stamped_diff_filter" pkg="manipulate_topics" ns="miranda/mir" output="screen">
        <remap from="input" to="cmd_vel"/>
        <remap from="output" to="/miranda/panda/compliance_controller/imu"/>
    </node>


    <!-- Launch the formation slave controller -->
    <rosparam command="load" file="$(find transport_launcher)/config/reference_miranda.yaml" ns="/miranda/mir/slave_controller"/>
    <include file="$(find multi_robot_controller)/launch/slave.launch" ns="miranda/mir">
        <arg unless="$(arg twist_local)" name="config_file" value="$(find transport_launcher)/config/global_twist_slave_controller.yaml"/>
        <arg if="$(arg twist_local)" name="config_file" value="$(find transport_launcher)/config/local_twist_slave_controller.yaml"/>
    </include>

</launch>