<launch>
    <arg name="twist_local" default="false"/>
    <arg name="has_ft_sensor" value="true"/>

    <!-- 
        Load parameter for dynamic reconfiguring the slave controller
     -->
    <node   name="dynamic_reconfigure_load_lyapunov" pkg="dynamic_reconfigure" type="dynparam" 
            args="load /mur/mir/slave_controller $(find transport_launcher)/config/lyapunov_dyn.yaml" />
    
    <!--    Launch the robot hardware
            Access move base server
            Sate controlle for the knowledge of current manipulator state
            Joint controller for teached movemet
            impedance controller for transport movement
    -->
    <include file="$(find mur_hardware_helper)/launch/mur.launch">
        <arg name="pose_filename" value="$(find transport_launcher)/poses/mur_transport_poses.yaml"/>
        <arg name="controllers_started" value="joint_state_controller robot_status_controller position_joint_controller"/>
        <arg name="controllers_stopped" value="cartesian_controller cartesian_impedance_controller"/>
    </include>


    <!-- Launch the formation slave controller -->
    <rosparam command="load" file="$(find transport_launcher)/config/reference_mur.yaml" ns="/mur/mir/slave_controller"/>
    <include file="$(find multi_robot_controller)/launch/slave.launch" ns="mur/mir">
        <arg unless="$(arg twist_local)" name="config_file" value="$(find transport_launcher)/config/global_twist_slave_controller.yaml"/>
        <arg if="$(arg twist_local)" name="config_file" value="$(find transport_launcher)/config/local_twist_slave_controller.yaml"/>       
    </include>

     <node if="$(arg has_ft_sensor)" name="force_watchdog" type="force_watchdog.py" pkg="watchdogs" output="screen">
        <remap from="watch_topic" to="/mur/ur/wrench_filtered"/>
        <rosparam command="load" file="$(find transport_launcher)/config/watchdog.yaml"/>
        <param name="lower_abs_force" value="-1"/>
        <param name="upper_abs_force" value="40"/>
        <param name="lower_abs_torque" value="-1"/>
        <param name="upper_abs_torque" value="1"/>
        <rosparam param="services">["mur/mir/slave_controller/disable_controller","miranda/mir/slave_controller/disable_controller"]</rosparam>
    </node>
</launch>