<launch>
<arg name="tf_prefix" default="" doc="Substituted in parameter files"/>  
<arg name="type" default="msg"/>

<node pkg="multi_robot_controller" type="feed_forward_$(arg type)_node" name="test_node" output="screen" ns="panda">
    <rosparam command="load" file="$(find multi_robot_controller)/config/orientation_ff.yaml" subst_value="true"/>
</node>
</launch>