<?xml version="2.0" ?>
<launch>

<node name="slave_controller" pkg="multi_robot_controller" type="slave_node" output="screen">
    <param name="rate" value="10"/>
    <param name="topic_pose" value="pose"/>
    <param name="topic_odom" value="odom"/>
    <param name="topic_output" value="test_cmd_vel"/>   
    <rosparam param="lyapunov">[7.0, 7.0, 11.0]</rosparam>
</node>

</launch>


