<?xml version="2.0" ?>
<launch>
    <arg name="config_file" default="$(find multi_robot_controller)/config/slave.yaml" doc="Path of the parameter configuration file"/>

    <node unless="$(eval config_file=='')" name="slave_controller" pkg="multi_robot_controller" type="slave_node" output="screen">
        <rosparam command="load" file="$(arg config_file)"/>
    </node> 

</launch>


