<launch>
<arg name="tf_prefix" default=""/>

<node pkg="tf2_ros" type="static_transform_publisher" name="mir_panda_transformer" args="0.35 0.15 0.35  0.0 0.0 0.174 0.985 $(arg tf_prefix)/base_link $(arg tf_prefix)/panda_link0" />
<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="mir_panda_transformer" args="0.35 0.15 0.35  0 0 0 1 $(arg tf_prefix)/base_link $(arg tf_prefix)/panda_link0" /> -->

<node pkg="tf2_ros" type="static_transform_publisher" name="panda_ee" args="2.0 1.0 1.0 0.0 0.0 0.0 1.0  $(arg tf_prefix)/odom $(arg tf_prefix)/panda_hand" />



<node pkg="transport_controller" type="dummie_base_move_broadcaster" name="dummie_base" ns="panda">
    <param name="tf_prefix" value="$(arg tf_prefix)"/>
</node>

<include file="$(find transport_controller)/launch/orientation_feed_forward.launch">
    <arg name="type" value="msg"/>
</include>

</launch>
