<launch>
 <!-- Load the formation parameter file-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="experiment_frame" args="11 17 0 0 0 0 1 map experiment" />
  <include file="$(find mir_hardware_helper)/launch/mir.launch" ns="mir">
    <arg name="use_mir_amcl" value="true"/>
    <arg name="tf_prefix" value="mir"/>
  </include>
  <!-- Setting up the Formation of robots-->
  <node name="Controller" pkg="multi_robot_controller" type="slave_node" ns="mir"/>
  
 
</launch>