<launch>

    
    <include file="$(find mir_launcher)/launch/mir.launch" ns="miranda/mir">
        <arg name="tf_prefix" value="miranda/mir"/>
        <arg name="move_base" value="true"/>
    </include>

    <!-- Launch the formation slave controller -->
    <include file="$(find multi_robot_controller)/launch/slave.launch" ns="miranda/mir">
        <arg name="config_file" value="$(find transport_launcher)/config/miranda_slave_parallel.yaml"/>
    </include>

</launch>