<launch>
    <arg name="filename" default="formation"/>

    <node pkg="rosbag" type="record" name="record_formation"
       args="record -e  (.*)/slave_controller/meta_data 
                        (.*)/robot_pose_stamped
                        (.*)/odom_enc
                        (.*)/mir/cmd_vel
                        (.*)/master_pose 
                        (.*)/master_velocity 
                        (.*)/joint_states 
                        (.*)/joint_states_desired
                        (.*)/F_ext
                        (.*)/target_pose 
                        (.*)/wrench
                        (.*)/franka_states 
                        /tf
                        
                    -o $(arg filename).bag"
    />
</launch>