<launch>
    <arg name="filename" default="formation"/>
    <arg name="path" default="."/>

    <node pkg="rosbag" type="record" name="record_formation"
       args="record -e  (.*)/slave_controller/meta_data 
                        (.*)/robot_pose_stamped
                        (.*)/odom_enc
                        (.*)/mir/cmd_vel
                        (.*)/master_pose 
                        (.*)/master_velocity  
                        /tf
                        
                    -o $(arg path)/$(arg filename).bag"
    />
</launch>