<launch>
    <include file="$(find transport_launcher)/launch/virtual_master.launch">
        <arg name="use_ps4_cmd_vel"  value="true"/>
        <arg name="use_planner_cmd_vel"  value="false"/>
    </include>
     <node name="transport_state_machine" type="transport_state_machine_node.py" pkg="transport_controller" output="screen">
        <rosparam command="load" file="$(find transport_launcher)/config/system_settings.yaml"/>
    </node>
</launch>