<launch>
    <include file="$(find transport_launcher)/launch/virtual_master.launch">
        <arg name="use_ps4_cmd_vel"  value="true"/>
        <arg name="use_planner_cmd_vel"  value="false"/>
    </include>

     <node name="transport_state_machine" type="transport_state_machine_node.py" pkg="transport_controller" output="screen">
        <rosparam command="load" file="$(find transport_launcher)/config/system_settings.yaml"/>
    </node>
    <node name="force_watchdog" type="force_watchdog.py" pkg="watchdogs" output="screen">
        <remap from="watch_topic" to="/mur/ur/wrench_filtered"/>
        <rosparam command="load" file="$(find transport_launcher)/config/watchdog.yaml"/>
    </node>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find transport_launcher)/rviz/multimirvirtual.rviz" />
</launch>