<launch>

    <node  name="cmd_vel_integrator" pkg="mir_helper" type="vel_integrator_node">
        <param name="topic_name" value="reset_pose"/>
        <param name="frame_id" value="/map"/>
        <remap from="cmd_vel" to="master_velocity_unfiltered"/>
        <remap from="cmd_vel_integrated" to="master_pose"/>
    </node>

    <node name="master_vel_filter" type="twist_stamped_mean_filter" pkg="manipulate_topics" output="screen">
        <param name="sample_number" value="200"/>
        <remap from="input" to="master_velocity_unfiltered"/>
        <remap from="output" to="master_velocity"/>
    </node>

    <include file="$(find transport_launcher)/launch/system.launch"/>   
</launch>